<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="./main.css">
    <title>maximize tickets!</title>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
</head>
<body>
  <h2 id="chart-date-range">chart-date-range</h2>
  <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
  <script src="../public/js/drawGraph.js"></script>
</body>

</html>